@page
@model Projekt_PAI.Pages.ThanksForOrderModel
@{
}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Dziękujemy za złożenie zamówienia!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="text-center">
    <a class="btn btn-primary" href="/Index">Wróć na stronę główną</a>
</div>
